#!/bin/bash
#BSUB -L /bin/bash
#BSUB -J egom_00
#BSUB -o std.out
#BSUB -e std.err
#BSUB -W 05:00
#BSUB -n 360
#BSUB -R 'span[ptile=20] rusage[mem=2560]'
#BSUB -P 082866996848

ulimit -s unlimited
module purge
module load wrf-deps/intel-2015B
module load pnetcdf/1.6.1-intel-2015B

export I_MPI_HYDRA_BOOTSTRAP=lsf
export I_MPI_LSF_USE_COLLECTIVE_LAUNCH=1
export I_MPI_HYDRA_BRANCH_COUNT=14
export PNETCDF_HINTS="striping_unit=16777216"
export PNETCDF_PATH=/software/tamusc/pnetcdf/1.6.1-intel-2015B
export PNETCDF=/software/tamusc/pnetcdf/1.6.1-intel-2015B


##-- time calculation begins --
strtm=$(date +%s)


mpiexec.hydra ./cresm > cresm.log 2>&1


##-- time calculation ends --
endtm=$(date +%s)
HH=`echo $((endtm-strtm)) | awk '{printf "%02d",int($1/3600)}'`
MM=`echo $((endtm-strtm)) | awk '{printf "%02d",int(($1%3600)/60)}'`
SS=`echo $((endtm-strtm)) | awk '{printf "%02d",int($1%60)}'`
echo "Total Time Coast : $HH:$MM:$SS" 
#-----------------------------------
#-----------------------------------
